@import 'tailwindcss';

@font-face {
	font-family: 'Josefin Sans';
	src:
		url('../assets/fonts/JosefinSans-Regular.woff2') format('woff2'),
		url('../assets/fonts/JosefinSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Josefin Sans';
	src:
		url('../assets/fonts/JosefinSans-Bold.woff2') format('woff2'),
		url('../assets/fonts/JosefinSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-*: initial;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-purple-800: #39384b;
	--color-purple-700: #4d5067;
	--color-purple-600: #5b5e7e;
	--color-purple-300: #c8cbe7;
	--color-purple-100: #e3e4f1;
	--color-gray-600: #9495a5;
	--color-gray-300: #d1d2da;
	--color-gray-50: #fafafa;
	--color-navy-950: #171823;
	--color-navy-900: #25273d;
	--color-navy-850: #494c6b;
	--color-blue-500: #3a7cfd;
	--color-gradient-1-start: #55ddff;
	--color-gradient-1-end: #c058f3;
	--color-gradient-2-start: #3710bd;
	--color-gradient-2-end: #a42395;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
	font-family: 'Josefin Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 320px;
	min-height: 100vh;
	@apply dark:bg-navy-950 bg-gray-50;
}
