:root {
	line-height: 1.5;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol,
ul {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img,
picture,
svg,
iframe {
	display: block;
	max-width: 100%;
	width: 100%;
}

img {
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

fieldset {
	border: none;
}
